<section class="container-contact center-text container-contact" >
  <div class="contact-content">
    <h1>Contacto</h1>
    <a href="mailto:profSantiRP@gmail.com">
      <h5 class="contact-title">profSantiRP@gmail.com</h5>
    </a>
    <div >
      <a href="https://www.linkedin.com/in/santiago-rodriguez-developer" target="_blank"  >
        <button mat-stroked-button color="primary" class="contact-button" >
          <img src="assets/linkedin.ico" alt="linkedin" class="contact-button-img-linkedin"/>
          LINKEDIN
        </button>
      </a>

      <a href="mailto:profSantiRP@gmail.com" target="_blank">
        <button mat-stroked-button color="accent" class="contact-button ">
          <img src="assets/gmail.ico" alt="gmail" class="contact-button-img-gmail"/>
          GMAIL
        </button>
      </a>
    </div>
  </div>
</section>
