//.card-hover:hover
//  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important
//  transform: translate3d(0,0,0)
//  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)

.container-portfolio
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  flex-wrap: wrap

.container-gallery

  flex: 1 // tells grid container to take full width of flex container

  display: grid
  gap: 1rem
  grid-auto-flow: dense

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr))
  grid-template-rows: auto 1fr

  .container-card

    grid-column: span 2

    .card-title
      margin: 0

    .card-container-img

      display: grid
      min-height: 63vh
      img
        margin: auto

        width: 100%
        height: auto

    .card-container-img-height-mobile
      min-height: 0
      height: auto

    .card-container-buttons
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      align-items: center

      button
        opacity: 0.7
        width: fit-content
        text-shadow: 2px 2px 4px #000000
        color: white
        margin: 0.2rem

        cursor: default

      .red
        background-color: red
        color: white

      .blue
        background-color: #7CABFF

      .yellow
        background-color: #FFCB2B

      .green
        background-color: #12924F
        //background-color: #6FC02A

      .violet
        background-color: #79589F

      .gray
        background-color: gray

      .dark
        background-color: #282C34

