//.card-hover:hover
//  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important
//  transform: translate3d(0,0,0)
//  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)

.container-portfolio
  display: flex
  //flex-direction: column
  flex-wrap: wrap
  //justify-content: center
  //align-items: center
  gap: 1rem // add space between flex items

  .menu
    background-color: lightgrey
    flex-basis: 5rem // ideal size
    flex-grow: 1 // if it is not ideal to expand to 100%

    a
      //padding: 1rem

      div
        margin-bottom: 0.7rem
        padding: 0.7rem
        background-color: white
        width: 100%

.container-gallery

  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  //align-items: center
  //gap: 1rem // add space between flex items
  //background-color: lightcoral
  flex-basis: 0
  flex-grow: 999 // like z-index
  min-width: 60%



  .container-card
    width: 25rem
    //height: 22rem
    margin: 0 1rem 1rem 1rem
    //background-color: brown

    .card-title
      margin: 0


    .card-container-img
      //background-color: yellow
      width: 100%
      //max-height: 10rem
      min-height: 25rem
      //height: 25rem

      display: grid
      //background-color: lightsteelblue

      img
        display: block
        margin: auto
        max-width: 100%
        //max-height: 9rem
        width: auto
        height: auto

        object-fit: cover
        vertical-align: center
        //background-color: #FFCB2B

    .card-container-buttons
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      align-items: center

      button
        opacity: 0.7
        width: fit-content
        text-shadow: 2px 2px 4px #000000
        color: white
        margin: 0.2rem

        //cursor: default

      .red
        background-color: red
        color: white

      .blue
        background-color: #7CABFF

      .yellow
        background-color: #FFCB2B

      .green
        background-color: #12924F
        //background-color: #6FC02A

      .violet
        background-color: #79589F

      .gray
        background-color: gray

      .dark
        background-color: #282C34


.example-card
  max-width: 400px
