//.card-hover:hover
//  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important
//  transform: translate3d(0,0,0)
//  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)



.container-gallery
  display: grid
  gap: 1rem

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr))
  grid-template-rows: auto 1fr
  grid-auto-flow: dense

  .container-card

    grid-column: span 2

    .card-title
      margin: 0

    .card-container-img
      width: 100%
      //max-height: min(100%, 30rem)
      display: grid
      //height: 50vh

      background-color: #FFCB2B

      //padding: 5rem 0 5rem 0

      img

        margin: auto
        max-width: 100%
        width: auto
        height: auto


    .card-container-buttons
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      align-items: center

      button
        opacity: 0.7
        width: fit-content
        text-shadow: 2px 2px 4px #000000
        color: white
        margin: 0.2rem

        //cursor: default

      .red
        background-color: red
        color: white

      .blue
        background-color: #7CABFF

      .yellow
        background-color: #FFCB2B

      .green
        background-color: #12924F
        //background-color: #6FC02A

      .violet
        background-color: #79589F

      .gray
        background-color: gray

      .dark
        background-color: #282C34


.container-items
  display: grid
  gap: 1rem
  //grid-auto-rows: 22rem
  //grid-template-columns:

  //grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr))
  //grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))


  // good solution
  //grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))

  // fix el overflow in low resolutions
  // case in which the width has to be bigger
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr))
  grid-auto-flow: dense

  background-color: lightcoral

  .example-card
    //max-width: 400px
    grid-column: span 2
    //grid-row: span 2
